@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
html {
    box-sizing: border-box;
}



body {
    background: #f1f2f7 !important;;
    font-family: "Open Sans", arial, sans-serif !important;;
    color: darkslategray;
}


/* header */
header[role="banner"] {
    background: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}
header[role="banner"] h1 {
    margin: 0;
    font-weight: 300;
    padding: 1rem;
}
header[role="banner"] h1:before {
    font-family: FontAwesome;
    padding-right: 0.6em;
    color: turquoise;
}
header[role="banner"] .utilities {
    width: 100%;
    background: slategray;
    color: #ddd;
}
header[role="banner"] .utilities li {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
header[role="banner"] .utilities li a {
    padding: 0.7em;
    display: block;
}



nav[role="navigation"] {
    background: #2a3542;
    color: #ddd;
 }
nav[role="navigation"] li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
nav[role="navigation"] li a {
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: 0.7em;
}
nav[role="navigation"] li a:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
nav[role="navigation"] li a:before {
     font-family: FontAwesome;
    padding-right: 0.6em;
}
nav[role="navigation"] .dashboard a:before {
    content: "";
}
nav[role="navigation"] .write a:before {
    content: "";
}
nav[role="navigation"] .edit a:before {
    content: "";
}
nav[role="navigation"] .comments a:before {
    content: "";
}
nav[role="navigation"] .users a:before {
    content: "";
}

h2,
h3,
h4 {
    font-weight: 300;
    margin: 0;
}

h2 {
    color: #1eb6a7;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



@media screen and (min-width: 600px) {
    html,
    body {
        height: 100%;
    }

    header[role="banner"] {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        height: 75px;
    }
    header[role="banner"] .utilities {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        color: darkslategray;
        width: auto;
    }
    header[role="banner"] .utilities li {
        display: inline-block;
    }
    header[role="banner"] .utilities li a {
        padding: 0.5em 1em;
    }

    nav[role="navigation"] {
        position: fixed;
        width: 200px;
        top: 75px;
        bottom: 0px;
        left: 0px;
    }

    main[role="main"] {
        margin: 75px 0 40px 200px;
    }
    main[role="main"]:after {
        content: "";
        display: table;
        clear: both;
    }

    .panel {
        margin: 2% 0 0 2%;
        float: left;
        width: 96%;
    }
    .panel:after {
        content: "";
        display: table;
        clear: both;
    }

    .box, .onethird, .twothirds {
        padding: 1rem;
    }

    .onethird {
        width: 33.333%;
        float: left;
    }

    .twothirds {
        width: 66%;
        float: left;
    }

    footer[role="contentinfo"] {
        clear: both;
        margin-left: 200px;
    }
}
@media screen and (min-width: 900px) {
    footer[role="contentinfo"] {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0px;
        margin: 0;
    }

    .panel {
        width: 47%;
        clear: none;
    }
    .panel.important {
        width: 96%;
    }

}
/*=======================================================*/



.main-div {
    border-radius: 2px;
    margin: auto ;
    max-width: 35%;
  }

.userTable .group {
    margin-bottom: 10px;
}

