body {
    background-color: rgba(255, 250, 250, 0.11); !important;
}

.pointer {
    cursor: pointer !important;
}

/*************************************************Navbar header********************************************************/


.nav-item:hover {
    cursor: pointer;
}

#navbar {
/*position: relative !important;*/
min-height: 50px; !important;
margin-bottom: 50px; !important;

}

#pointer {
    cursor: pointer !important;
}

.navbar-brand {
    float: left;
    height: auto;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: rgba(0, 57, 77, 0.62);
}



/**********************************************************************************************************************/
/****************************************Transparent NavBar************************************************************/

section {
    max-width: 1190px;
    /*mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);*/
    margin: 0 auto;
    padding: 32px 0;

}

section ul {
    text-align: center;
    /*background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);*/
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

section ul li {
    display: inline-block;
}

section ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 57, 77, 0.7);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

section ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(41, 41, 41, 0.1);
    color: rgba(0, 57, 77, 0.7);
}

/**********************************************************************************************************************/
/*****************************************************Blog Content*****************************************************/

.minus {
    padding: 0px 10px;
}

#blog {
    background-color: #f6f6f6;
}

#blog .card-block {
    padding: 10px;
}

#blog .card {
    background-color: rgba(0, 57, 77, 0.16);
    border: 1px solid rgba(0, 57, 77, 0.16);
    margin: 20px 0px;
    text-align: justify
}

.btn.btn-default {
    background-color: #003e54;
    color: #fffafa;
    border-radius: 0;
    border: none;
    padding: 13px 20px;
    font-size: 13px;
    font-weight: 600;
}

#blogContent {
    background-color: #f6f6f6;
}

#banner {
    width: 350px;
}

/**********************************************************************************************************************/
/***********************************************Blog Footer************************************************************/

#jumbo {
    background-color: #003e54;
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

#jumbo > p {
    color: #fffafa;
    font-size: medium;
}

#jumbo > p > a {
    color: #fffafa;
}

/**********************************************************************************************************************/
/******************************************Login Form******************************************************************/
.form-heading {
    color: #fff;
    font-size: 23px;
}

.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}

.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px;
}

.login-form .group {
    margin-bottom: 10px;
}

.login-form {
    text-align: center;
}

.forgot a {
    color: #003e54;
    font-size: 14px;
    text-decoration: underline;
}

.login-form .btn.btn-primary {
    background: #003e54 none repeat scroll 0 0;
    border-color: #003e54;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.forgot {
    text-align: left;
    margin-bottom: 30px;
}

.login-form .btn.btn-primary.reset {
    background: #00394d none repeat scroll 0 0;
}

.imgContainer {
    text-align: center;
    margin: 24px 0 52px 0;
    position: relative;
}

body {
    font-family: "Palatino Linotype", serif; !important;
}


#navbar {
    background: #003e54; !important;
    text-decoration-color: #fffafa;
}
.nav-item {
    padding: 20px; !important;
}
#searchbox > input {
    background-color: #bac9cf; !important;
}


/**********************************************************************************************************************/
